<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VideoFile" value="D:\samples\testUnit.wmv"/>
    <add key="BadFile" value="D:\samples\testUnitBad.wmv"/>
    <add key="AudioFile" value="D:\samples\testUnit.wma"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
